.board-bg {
	background-image: url("../img/wood-background.png");
}

.board {
	margin-top: 10px;
}

.guess-card {
  	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  	font-weight: bold;
  	color: #fff;
  	margin-left: 30px;
  	line-height: 30px;
}

.timer {
	position:absolute;
	right:10px;
}

.timer span{
	margin-right: 10px;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
}

.cards {
	height: 110px;
	width: 80px;
	float: left;
	margin: 10px;
	background-color: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #333;
	-webkit-box-shadow: 2px 2px 5px #333;
	box-shadow: 2px 2px 5px #333;
}

.cards img {
	height: 70%;
	width: 90%;
	margin-top: 15px;
}

/*OVERWRITING IONIC CLASSES*/
.bar {
	position: relative !important;
}

.ng-hide {
  	display:block!important;
  	visibility: hidden;
}